{% extends 'menubar.html' %}

{% block content %}
<br><br><br>
    <h1>Welcome Ajay</h1>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://cdn.myimgstock.com/myimgstock/preview/maa-devi-laxmi-wallpaper-hd-images-116095782314etpxbbm3t.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8" style="background-color: black;">
          </div>
        </div>
      </div>
{% endblock %}
    